@import "./../../../shared/styles/main.scss";

.account-details-box {
  width: 100%;

  .general-user-details-box {
    @include flex-row-center;
    background-color: rgba(243, 243, 243, 0.749);
    padding: 15px 30px;
    border-radius: 20px;
    width: 80%;

    .user-infos {
      margin-left: 15px;
      font-weight: 500;
      @include flex-column;
      gap: 4px;

      .user-name {
        font-size: 23px;
        color: $shopenyTextGray;
      }

      .user-email,
      .user-phone-number {
        font-size: 15px;
        color: rgb(116, 116, 116);
      }
    }

    .image-container {
      position: relative;
      width: 120px;
      height: 120px;

      .profile-photo-box {
        position: relative;

        img {
          width: 120px;
          border-radius: 50%;
          border: 4px solid rgba(228, 228, 228, 0.886);
          padding: 3px;
        }

        .edit-icon {
          position: absolute;
          top: 5px;
          right: 5px;
          font-size: 30px;
          color: rgb(122, 122, 122);
          background-color: rgba(217, 217, 217, 0.421);
          backdrop-filter: blur(5px);
          padding: 4px;
          border-radius: 10px;
          @include move-opacity-effect(0.5s);
        }

        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(47, 47, 47, 0.196);
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0;
          transition: opacity 0.3s ease;
          border-radius: 50%;
          cursor: pointer;

          .icon {
            color: white;
            font-size: 36px;
          }
        }

        &:hover {

          .edit-icon {
            display: none;
          }

          .overlay {
            opacity: 1;

            .icon {
              @include move-opacity-effect(0.4s);
            }
          }
        }
      }
    }

    .user-infos {
      margin-left: 20px;
    }

    .upload-profile-photo {
      text-align: center;
      border-radius: 10px;
      @include flex-column-align-center;

      h1 {
        margin-bottom: 20px;
        color: #333;
        font-size: 24px;
      }

      .profile-photo-status-box {
        margin: 10px 0px;
        @include flex-row-center;
        gap: 30px;

        .icon {
          font-size: 55px;
          color: $shopenyTextGray;
        }

        .new-profile-image {
          border-radius: 50%;
          width: 100px;
          height: 100px;
          object-fit: cover;
        }
      }

      .active-profil-image {
        border-radius: 50%;
        width: 100px;
        object-fit: cover;
      }

      .close-button {
        background: none;
        border: none;
        font-size: 16px;
        color: #999;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
      }

      .change-and-remove-photo-buttons, .confirm-buttons {
        margin-top: 25px;
        @include flex-row-center;
        gap: 15px;

        button{
          border-radius: 30px;
          background-color: $shopenyOrange;
          color: white;
          font-size: 14px;
          font-weight: 500;
          padding: 12px 20px;
          transition: all 0.3s ease-in-out;

          &:hover {
            @include shopenyOrangeHoverBackground;
          }
        }

        :nth-child(2) {
          background-color: rgb(229, 229, 229);
          color: rgb(105, 105, 105);

          &:hover {
            background-color: rgb(218, 218, 218);
          }
        }
      }

      .info {
        margin: 20px 0;
        color: #555;
        font-size: 14px;

        p {
          margin: 5px 0;
        }
      }

      .buttons {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;

        .save-button,
        .reset-button,
        .upload-button {
          background-color: $shopenyOrange;
          color: white;
          border: none;
          padding: 10px 20px;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background-color: darken($shopenyOrange, 10%);
          }

          &:disabled {
            background-color: lighten($shopenyOrange, 20%);
            cursor: not-allowed;
          }
        }
      }
    }
  }

  .change-user-infos-box {
    margin: 15px 0px;

    .modify-title {
      @include flex-row-center;
      gap: 5px;
      font-size: 23px;
      font-weight: 500;
      margin: 20px 0px;
      padding-left: 8px;
      color: $shopenyTextGray;

      .icon {
        font-size: 30px
      }
    }

    .form-box {
      @include flex-column;
      width: 60%;

      .row {
        @include flex-row-center;
        justify-content: space-between;

        .input-box {
          @include flex-column;
          padding: 10px;


          p {
            color: $shopenyTextGray;
            font-size: 18px;
            font-weight: 500;
            margin: 7px 0px;
          }

          .input-flex {
            @include flex-row-center;
            gap: 10px;
            border: 3px solid rgb(226, 226, 226);
            border-radius: 5px;
            padding: 5px 10px;
            width: max-content;

            p {
              font-size: 16px;
              margin: 0;
              color: rgb(83, 83, 83);
              padding: 0;
            }

            .edit-icon,
            .check-icon {
              font-size: 25px;
              color: gray;
              cursor: pointer;
              @include opacity-effect(0.8s);
            }

            .phone-icon {
              font-size: 18px;
              color: gray;
              margin-right: 12px;
            }

            .check-icon {
              @include shopenyOrangeHoverEffect;
            }

            input {
              border: 0;
              padding: 0 !important;
              margin: 0;
              font-weight: 500;
              width: 180px;
              color: $shopenyTextGray;
              font-size: 15px;
            }

            select {
              width: 220px;
              border: 0px;
              padding: 1px;
              font-family: "Poppins";
              font-weight: 500;
              font-size: 15px;

              color: $shopenyTextGray;
              cursor: pointer;

              option {
                font-weight: 500;
                color: $shopenyTextGray;
              }
            }

            span {
              width: 180px;
              font-size: 16px;
              font-weight: 500;
              color: rgb(135, 135, 135);
              font-size: 15px;
            }

            .email-span {
              width: 220px;
            }

            .number-input,
            .number-span {
              margin-left: -5px;
              width: 144px;
            }
          }
        }
      }

      .form-actions {
        margin-top: 30px;
        @include flex-row-center;
        justify-content: center;
        gap: 15px;

        button {
          padding: 10px;
          width: 120px;
          border-radius: 30px;
          font-weight: 500;
          color: rgb(106, 106, 106);
        }

        .submit-btn {
          background-color: $shopenyOrange;
          color: white;
        }
      }
    }
  }
}