@import "../../styles/main.scss";


.categories-box {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.519);
    backdrop-filter: blur(5px);
    gap: 20px;
    border-top: 2px solid rgb(230, 230, 230);
    z-index: 999 !important;
    overflow: auto;

    @media (max-width:1100px) {
        gap: 5px;
        padding: 10px 5px;
    }

    @media (max-width:800px) {
        padding: 10px;
        gap: 20px;

    }

    h3 {
        display: none
    }

    .category-item {
        @include flex-center;
        @include white-button-hover;
        background-color: transparent;
        padding: 10px 10px;
        border-radius: 10px;
        gap: 5px;
        font-size: 15px;

        @media (max-width:1100px) {
            font-size: 12px;
            padding: 5px 8px;
        }

        @media (max-width:800px) {
            padding: 5px 10px;
            font-size: 15px;

        }
    }
}

.categories-box .active-link {
    background-color: rgb(240, 240, 240);
}

//================Media Query===============//

.category-mobile-menu-icon {
    display: none;
    position: absolute;
    top: 46px;
    left: 20;
    font-size: 40px;
    color: rgb(107, 107, 107);
    background-color: $shopenySmoothWhite;
    border-radius: 10px;
    padding: 3px;

    @media (max-width:330px) {
        background-color: white;
        left: 10px;
    }
}

@media (max-width: 800px) {

    .categories-box {
        display: none;
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 100%;
        justify-content: start;
        top: 0px;
        left: 0px;
        z-index: 999999 !important;
        background-color: rgb(255, 255, 255);
        animation: animationMobileMenu 0.6s ease-in;

        h3 {
            display: inline;
            text-align: center;
            @include opacity-effect(0.6s);
            color: $shopenyTextGray;
            font-size: 30px;
            font-weight: 600;
            margin: 0;
            margin-top: 20px;
            border-bottom: 2px solid rgb(229, 229, 229);
            padding-bottom: 20px;
            animation: CategoriesAnimation 1.1s ease-in-out;
        }

        .category-item {
            width: 100%;
            padding: 10px;
            display: flex;
            justify-content: center;
            color: $shopenyTextGray;
            font-weight: 500;
            font-size: 20px;
            align-items: center;
            animation: CategoriesAnimation 1.1s ease-in-out;

            @media (max-height:630px) {
                font-size: 18px;
            }


            @keyframes CategoriesAnimation {
                0% {
                    opacity: 0;
                    transform: translateX(-30px);
                }

                60% {
                    opacity: 0;
                    transform: translateX(-25px);
                }

                100% {
                    opacity: 1;
                    transform: translateX(0);
                }
            }

            .icon {
                @media (max-width:800px) {
                    font-size: 28px;
                    margin-right: 5px;
                }

                @media (max-height:630px) {
                    font-size: 25px;
                }
            }
        }

    }



    @keyframes animationMobileMenu {
        0% {
            width: 0;
            opacity: 0;
        }

        40% {
            opacity: 0;
        }

        100% {
            width: 100%;
            opacity: 1;
        }
    }

    .category-mobile-menu-icon {
        display: flex;
    }

    .category-menu-close-icon {
        display: none;
        z-index: 999999 !important;
        font-size: 50px;
        position: fixed;
        top: 27px;
        right: 20px;
        color: $shopenyOrange;
        animation: CategoriesAnimation 0.9s ease-in-out;
    }
}