@import "../../../shared/styles/main.scss";

.privacy-policy {
    padding: 0px;
    line-height: 1.6;
    color: #333;
    border-radius: 8px;

    .privacy-section {
        margin-bottom: 25px;

        h3 {
            color: #3c3c3c;
            font-size: 18px;
            margin-bottom: 10px;
            font-weight: 600;

            @media (max-width:1300px) {
                font-size: 17px;
              }

        }

        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 30px;
            color: rgb(85, 85, 85);

            
            @media (max-width:1020px) {
                font-size: 14px;
             }
        }
    } 
}