// Shopeny App Colors

$textBlack: #202020;
$textWhite: rgb(241, 241, 241);
$shopenyOrange: #f27d59;
$shopenyBlue: #496aee;
$shopenySmoothWhite: #f2f2f2;
$shopenyDarkGray: #383838;
$shopenyTextGray: #3f3f3f;

