// Box-sizing reset
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

// Remove margin and padding
body,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}

// Remove list styles
ul,
ol {
  list-style: none;
}

// Reset anchor styles
a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

h2 {
  font-weight: 500;
}

button {
  cursor: pointer;
  border: none;
  font-family: "Poppins";
}

input {
  outline: none;
  font-family: "Poppins";
}

select {
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}