@import "../../../shared/styles/main.scss";

.choose-address-box {
    @media (max-width:1000px) {
        @include flex-column;
        align-items: center;

      }
    .address-card {
        background-color: $shopenyLightGray;
        padding: 20px 30px;
        padding-right: 40px;
        border-radius: 20px;
        @include flex-row-center;
        justify-content: space-between;
        margin-bottom: 30px;

        @media (max-width:1000px) {
            width: 60%;
        }
        @media (max-width:800px) {
            width:90%;
        }
        @media (max-width:700px) {
            width:100%;
        }



        .address-informations {
            @include flex-column;
            gap: 5px;
            font-weight: 500;

            .address-title {
                font-size: 20px;
                color: $shopenyOrange;

                @media (max-width:1200px) {
                    font-size: 18px;
                }

            }

            .address-name {
                font-size: 16px;
                color: rgb(118, 118, 118);

                @media (max-width:1200px) {
                    font-size: 14px;
                }
                @media (max-width:500px) {
                    font-size:12px
                }
            }

            .address-recipient {
                font-size: 14px;
                color: rgb(141, 141, 141);

                @media (max-width:1200px) {
                    font-size: 12px;
                }
                @media (max-width:500px) {
                    font-size:11px
                }
            }
        }
    }
}

.no-address-box {
    background-color: rgba(255, 200, 152, 0.495);
    border-radius: 10px;
    padding: 15px 20px;

    p {
        font-weight: 500;
        font-size: 15px;
        color: $shopenyOrange;

        @media (max-width:500px) {
            font-size: 13px;
        }
    }
}

.new-address-box {
    margin-top: 40px;
    @media (max-width:1000px) {
        width: 100%;
        @include flex-center;
     }

    button {
        padding: 12px 20px;
        @include flex-center;
        gap: 10px;
        font-size: 15px;
        border-radius: 30px;
        background-color: $shopenyOrange;
        color: white;
        font-weight: 500;
        @include click-scale(0.8, 0.4s);

        &:Hover {
            @include shopenyOrangeHoverBackground();
        }

        @media (max-width:1000px) {
            width: 200px;
         }



        .icon {
            font-size: 23px;
        }
    }
}