@import "../../styles/main.scss";

.basket-information-box {
    background-color: rgb(247, 247, 247);
    padding: 10px 35px 15px 35px;
    padding-bottom: 25px;
    border-radius: 20px;
    height: max-content;

    &.fixedBar {
        position: sticky;
        top: 23px;
        right: 10px;
        width: max-content;
        z-index: 1000;
        transition: all 0.3s ease-in-out; 
    }

    @media (max-width:450px) {
        border-radius: 0px;
        border-top: 4px solid $shopenyOrange;
        padding-top: 40px;
        background-color: transparent;
        padding: 25px 0px 15px 0px;
    }

    h2 {

        font-weight: 600;
        color: rgb(69, 74, 77);
        margin: 12px 0px;
        font-size: 22px;

        @media (max-width:1200px) {
            font-size: 17px;
        }
    }

    .dividing-line {
        border-radius: 30px;
        background-color: rgb(229, 229, 229);
        width: 100%;
        height: 4px;
        margin: 10px 0px;
    }

    .product-amount-and-price-box {
        @include flex-row-center;
        justify-content: space-between;

        p {
            font-size: 17px;
            font-weight: 500;
            color: rgb(105, 105, 105);

            @media (max-width:1200px) {
                font-size: 14px;
            }
        }
    }

    .choose-cargo-box {
        .custom-select {
            position: relative;
            cursor: pointer;

            .selected-box {
                display: flex;
                align-items: center;
                justify-content: space-between; // Alanı boşluklarla doldurur
                padding: 8px;
                border: 3px solid rgb(223, 223, 223);
                background-color: rgb(247, 247, 247);
                border-radius: 10px;
                font-family: "Poppins";
                font-size: 14px;
                font-weight: 500;
                color: $shopenyTextGray;

                @media (max-width:1200px) {
                    font-size: 12px;
                    background-color: rgb(255, 255, 255);
                }
            }

            .dropdown-icon {
                transition: transform 0.6s ease;
                font-size: 23px;
            }

            .dropdown-icon.open {
                transform: rotate(180deg); // 180 derece döndür
            }

            .select-options {
                position: absolute;
                border: 3px solid rgb(223, 223, 223);
                top: 110%;
                left: 0;
                width: 100%;
                background-color: rgb(247, 247, 247);
                border-radius: 4px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                z-index: 1;
                border-radius: 10px;
            }

            .option {
                display: flex;
                align-items: center;
                padding: 10px;
                cursor: pointer;
                transition: background-color 0.3s;
                font-size: 14px;


                @media (max-width:1200px) {
                    font-size: 12px;
                    background-color: rgb(255, 255, 255);
                }

                &:hover {
                    background-color: rgba(177, 177, 177, 0.138);
                }

                span {
                    margin-left: 10px;

                }
            }
        }

        .fast-cargo-warning {
            font-size: 14px;
            font-weight: 500;
            margin-top: 10px;
            padding-left: 5px;
            color: $shopenyTextGray;

            @media (max-width:1200px) {
                font-size: 12px;
            }
        }
    }

    .promotion-box {

        input {
            width: 100%;
            border-radius: 10px;
            border: 0;
            padding-left: 10px;
            font-size: 14px;
            background-color: rgb(247, 247, 247);
            border: 3px solid rgb(223, 223, 223);
            font-weight: 500;
            color: $shopenyTextGray;

            @media (max-width:1200px) {
                font-size: 12px;
                background-color: rgb(255, 255, 255);
            }
        }

        .confirm-promotion-btn {
            margin-top: 10px;
            background-color: rgb(235, 235, 235);
            color: rgb(79, 79, 79);
            font-weight: 500;
            padding: 6px 10px;
            font-size: 14px;
            border-radius: 4px;
            @include click-scale(0.8, 0.3s);

            @media (max-width:1200px) {
                font-size: 12px;
            }

            @media (max-width:500px) {
                padding: 8px 11px;
                width: 100%;
            }
        }
    }

    .total-promotion-and-cargo-prices-box {
        @include flex-column;
        gap: 10px;

        .price-box {
            @include flex-row-center;
            justify-content: space-between;

            p,
            span {
                font-size: 15px;
                font-weight: 500;
                color: rgb(105, 105, 105);

                @media (max-width:1200px) {
                    font-size: 12px;
                }
            }

            .promotion-discount {
                color: rgb(47, 180, 96);
            }

            .cargo-price {
                color: rgb(235, 90, 90);
            }
        }

    }

    .basket-total-price-box {
        margin-top: 20px;
        @include flex-row-center;
        justify-content: space-between;
        color: rgb(105, 105, 105);

        p {
            font-size: 18px;
            font-weight: 500;

            @media (max-width:1200px) {
                font-size: 13px;
            }
        }

        .total-price {
            font-size: 22px;
            color: rgb(79, 79, 79);

            @media (max-width:1200px) {
                font-size: 17px;
            }
        }
    }

    .checkout-button-box {
        margin-top: 20px;
        @include flex-row-center;
        justify-content: center;

        .checkout-btn {
            padding: 8px 16px;
            background-color: $shopenyOrange;
            color: white;
            border-radius: 20px;
            width: 160px;
            font-weight: 500;
            @include click-scale(0.7, 1s);

            &:hover {
                transition: 0.3s ease-in-out;
                @include shopenyOrangeHoverBackground;
            }

            @media (max-width:500px) {
                padding: 12px;
                width: 60%;
                border-radius: 30px;
            }

        }
    }

}