@import "../../shared/styles/main.scss";

.payment-process {

    .stepper-general-box {
        padding: 25px 0px;
        border-bottom: 4px solid rgb(240, 240, 240);
    }

    .content {
        margin-top: 40px;
        @include flex-row;
        padding: 0px 120px;

        @media (max-width:1300px) {
            padding: 0px 70px;
        }

        @media (max-width:1040px) {
            padding: 0px 20px;
        }

        @media (max-width:1000px) {
            flex-direction: column;
        }

        @media (max-width:500px) {
            padding: 0px;
        }

        .content-box {
            width: 60%;

            @media (max-width:1000px) {
                width: 100%;
            }

            h2 {
                color: $shopenyTextGray;
                font-size: 25px;
                margin: 0px 0px 35px 0px;
                font-weight: 600;

                @media (max-width:1450px) {
                    text-align: center;
                }

                @media (max-width:1200px) {
                    font-size: 22px;
                }

                @media (max-width:1000px) {
                    font-size: 20px;

                }
            }
        }

        .basket-info-box {
            display: flex;
            justify-content: center;
            width: 40%;

            @media (max-width:1450px) {
                justify-content: end;
            }

            @media (max-width:1000px) {
                justify-content: center;
                width: 100%;
                margin-top: 50px;
            }
        }
    }
}

.back-step-button {
    margin-top: 60px;
    @include flex-row-center;
    gap: 10px;
    padding: 15px 25px;
    font-size: 14px;
    border-radius: 30px;
    color: $shopenyTextGray;
    font-weight: 500;
    transition: all 0.3s ease-in-out;

    @media (max-width:1000px) {
        display: none;
    }

    &:hover {
        background-color: rgb(230, 230, 230);

        .icon {
            @include slide-left-right(0.7s);
        }
    }

    .icon {
        font-size: 20px;
    }
}