@import "../../shared/styles/main.scss";


.home-page-box {
    h3 {
        font-weight: 600;
        margin-top: 100px;
        font-size: 32px;

        @media (max-width:1200px) {
            font-size: 25px;
        }
    }

    .title-linear-gradient-box {
        width: 100%;
        margin: 60px 0px;
        margin-top: -16px;
        @include flex-center;

        p {
            background: linear-gradient(45deg, $shopenyBlue, $shopenyOrange);
            height: 6px;
            width: 200px;
            border-radius: 30px;
        }
    }
}

//========= Auto Play Slider Styles =========

.auto-play-slider-box {
    width: 100%;

    .swiper {
        width: 90%;
        height: 480px;
        border-radius: 20px;
        z-index: 0 !important;

        @media (max-width:1380px) {
            height: 440px;
        }

        @media (max-width:1200px) {
            height: 380px;
        }

        @media (max-width:1200px) {
            height: 320px;
            margin-top: 20px;
        }

        @media (max-width:1000px) {
            height: 280px;
        }

        @media (max-width:850px) {
            height: 250px;
        }

        @media (max-width:740px) {
            height: 220px;
        }

        @media (max-width:660px) {
            height: 200px;
        }

        @media (max-width:600px) {
            height: auto;
            border-radius: 10px;
            width: 100%;
        }

    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #e2e2e2;
        @include flex-center;
    }

    .swiper-slide img {
        display: block;
        cursor: pointer;
        height: 100%;
        width: 100%;
    }

    // Custom Swiper Styles

    .swiper-button-next,
    .swiper-button-prev {
        color: transparent;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        display: none !important;
    }

    .swiper-button-next:after {
        margin-right: 40px !important;
        padding-left: 19px !important;
        padding-right: 17px !important;
    }

    .swiper-button-prev:after {
        margin-left: 40px !important;
        padding-right: 19px !important;
    }


    .swiper-button-next.swiper-button-disabled,
    .swiper-button-prev.swiper-button-disabled {
        opacity: 0;
    }

    .swiper-pagination-bullet-active {
        background-color: $shopenyOrange !important;
        margin-bottom: 20px !important;
    }

    .swiper-pagination-bullet {
        width: 16px;
        height: 16px;
        margin-right: 10px !important;
        margin-bottom: 20px !important;
        border: 2px solid rgb(253, 253, 253) !important;
        background-color: rgb(99, 99, 99);

        @media (max-width:800px) {
            margin-bottom: 0px !important;
        }
    }

    .myAutoPlaySlider .swiper-wrapper {
        transition-timing-function: ease-in-out !important;
        transition-duration: 1s !important;
    }
}


.popular-products-box {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

    @media (max-width:500px) {
        align-items: center;
        flex-direction: column;
    }

    .prev-button,
    .next-button {
        background-color: transparent;
        color: rgb(187, 187, 187);
        border: none;
        cursor: pointer;
        z-index: 10;
        font-size: 45px;
        border-radius: 5px;
        margin: 0px 50px;
        z-index: 6 !important;
        @include shopenyOrangeHoverEffect;

        @media (max-width:500px) {
            position: absolute;
        }
    }

    .next-button {
        @media (max-width:500px) {
            right: -45px;
        }
    }

    .prev-button {
        @media (max-width:500px) {
            left: -45px;
            z-index: 1 !important;
        }
    }

    .popular-product-swiper {
        width: 80%;
        z-index: 0 !important;

        @media (max-width:1450px) {
            width: 80%;

        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            @include flex-center;
        }
    }
}



//==== Super Deal Cards Styles ====

.super-deal-cards-box {
    @include flex-row;
    padding: 0px 50px;
    gap: 20px;

    @media (max-width:"1200px") {
        @include flex-column;
        padding: 0px;
    }

    .large-box {
        color: white;
        position: relative;
        border-radius: 25px;
        height: 350px;
        width: 100%;
        padding: 10px 40px;

        @media (max-width:"1200px") {
            padding: 10px 20px;
            height: 220px;
        }

        @media (max-width:"560px") {
            height: 240px;
        }

        @media (max-width:"500px") {
            border-radius: 10px;
        }

        overflow: hidden;
        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #26262600;
            background-image: linear-gradient(25deg, rgba(29, 85, 206, 0.785) 10%, #00000000 80%);
            border-radius: 25px;
            z-index: 1;

            @media (max-width:"500px") {
                border-radius: 10px;
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url("../../assets/images/SuperDeals/HeadPhoneDealPhoto.png");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 25px;
            z-index: 0;
            transition: transform 0.3s ease;

            @media (max-width:"500px") {
                border-radius: 10px;
            }
        }

        &:hover::after {
            transform: scale(1.06);
        }

        @media (max-width:"500px") {

            &:hover::after {
                transform: scale(1);
            }
        }

        h2 {
            font-size: 50px;
            font-weight: 600;
            margin-top: 130px;
            margin-bottom: 0px;
            position: relative;
            z-index: 2;

            @media (max-width:"1200px") {
                margin-top: 30px;
                font-size: 35px;
            }

            @media (max-width:"1200px") {
                font-size: 26px;
            }
        }

        p {
            color: rgb(255, 255, 255);
            font-size: 16px;
            font-weight: 500;
            position: relative;
            z-index: 2;

            @media (max-width:"500px") {
                font-size: 13px;
            }
        }

        a {
            padding: 8px 18px;
            background-color: rgba(19, 19, 19, 0.293);
            color: white;
            border-radius: 11px;
            font-size: 17px;
            position: absolute;
            right: 45px;
            bottom: 30px;
            z-index: 2;
            background: rgba(165, 165, 165, 0.232);
            box-shadow: 0 8px 32px 0 rgba(45, 45, 45, 0.478);
            backdrop-filter: blur(7.5px);
            -webkit-backdrop-filter: blur(7.5px);
            border-radius: 10px;

            @media (max-width:"560px") {
                width: 100%;
                bottom: 0px;
                left: 0;
                border-radius: 0px 10px 10px 10px;
                text-align: center;
            }
        }
    }

    .small-boxes {
        @include flex-column;
    }

    .small-boxes {
        gap: 20px;

        @media (max-width:"1200px") {
            height: 330px;
        }

        @media (max-width:"500px") {
            height: 250px;
        }

        .small-box {
            height: 50%;
            border-radius: 18px;
            padding: 0px 10px;
            padding-left: 10px;
            cursor: pointer;

            @media (max-width:"500px") {
                border-radius: 10px;
            }

            h2 {
                font-weight: 500;
                padding-top: 50px;
                margin: 0;
                padding-left: 20px;

                @media (max-width:"1200px") {
                    font-size: 22px;
                }

                @media (max-width:"500px") {
                    padding-top: 0px;
                }
            }

            p {
                font-weight: 500;
                font-size: 16px;
                padding-left: 20px;

                @media (max-width:"1200px") {
                    font-size: 14px;
                }

                @media (max-width:"500px") {
                    font-size: 12px;
                }

                @media (max-width:"330px") {
                    font-size: 11px;
                }
            }

            &:nth-child(1) {
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                color: white;
                position: relative;
                overflow: hidden;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #26262600;
                    background-image: linear-gradient(100deg, rgba(59, 104, 208, 0.914) 10%, #00000000 70%);
                    border-radius: 18px;
                    z-index: 1;

                    @media (max-width:"500px") {
                        border-radius: 10px;
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url("./../../assets/images/SuperDeals/PhonesDeal.png");
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-radius: 18px;
                    z-index: 0;
                    transition: transform 0.3s ease;

                    @media (max-width:"500px") {
                        border-radius: 10px;
                    }
                }

                &:hover::after {
                    transform: scale(1.06);
                }

                @media (max-width:"500px") {
                    &:hover::after {
                        transform: scale(1);
                    }
                }

                p {
                    position: relative;
                    z-index: 3;
                }

                h2 {
                    padding-top: 40px;
                    position: relative;
                    z-index: 3;

                    @media (max-width:"500px") {
                        padding-top: 15px;
                    }
                }
            }

            &:nth-child(2) {
                background-image: url("./../../assets/images/SuperDeals/TVDeals.png");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                color: white;
                position: relative;
                overflow: hidden;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #26262600;
                    background-image: linear-gradient(100deg, rgba(31, 31, 31, 0.914) 10%, #00000000 70%);
                    border-radius: 25px;
                    z-index: 1;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-radius: 25px;
                    z-index: 0;
                    transition: transform 0.3s ease;
                }


                &:hover::after {
                    transform: scale(1.06);
                }

                @media (max-width:"500px") {
                    &:hover::after {
                        transform: scale(1);
                    }
                }

                p {
                    position: relative;
                    z-index: 3;
                }

                h2 {
                    padding-top: 40px;
                    position: relative;
                    z-index: 3;

                    @media (max-width:"500px") {
                        padding-top: 15px;
                    }
                }
            }
        }
    }
}